docs/zenya/doceria-dona-geralda/raw/01-secretaria-v3.json
{
  "id": "u7BDmAvPE4Sm6NXd",
  "name": "01. Confeitaria Dona Geralda - Secretaria v3",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1104
      ],
      "id": "eadb61f3-a339-4deb-8e36-2472ed450b03",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "sort": {
          "values": [
            {
              "column": "timestamp",
              "direction": "ASC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        1104
      ],
      "id": "8737f42b-7a41-4092-b86f-a05ae46d5c2c",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        1312
      ],
      "id": "dab14542-68a9-4908-9fea-baedb9b3930d",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 16,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        1104
      ],
      "id": "18183189-edf2-478d-95db-6b4935f815e3",
      "name": "Esperar",
      "webhookId": "f383c4e4-c0ff-4a1f-a039-12794f9e482a"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1504,
        1184
      ],
      "id": "7b81cc56-cffc-4c2a-ae25-2270e1eaf1df",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "authentication": "oAuth2",
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "name",
        "queryString": "",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1KjL2QP0hAkU5-FXcTrwlQa87NrwfVi0T",
            "mode": "list",
            "cachedResultName": "Dona Geralda - Fotos Produtos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1KjL2QP0hAkU5-FXcTrwlQa87NrwfVi0T"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3504,
        1360
      ],
      "id": "978e2be0-7945-4695-bef7-c3c70043342c",
      "name": "Listar arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LJB0FpTaa0VsdmCm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}_{{ $('Info').item.json.id_conta }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        1360
      ],
      "id": "7e886730-b8cf-4c33-b7cc-8106aa3143aa",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        2192
      ],
      "id": "e14fdd42-a68e-4379-a8c6-9890197dee7c",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        1184
      ],
      "id": "d5110c0e-ebcc-4b93-a069-9313caa9d17c",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1120
      ],
      "id": "c2eb0e71-0412-4a46-b3cf-51f595c5b97d",
      "name": "Marcar como lidas",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        1296
      ],
      "id": "50787400-1ecc-4f35-b012-9c131f709db7",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "fileSizeLimitNotice": " ",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1856,
        1296
      ],
      "id": "c111a25c-4df3-4520-a13a-6583d3192190",
      "name": "Transcrever audio",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "N9vF50amwJuULpY9",
          "mode": "list",
          "cachedResultUrl": "/workflow/N9vF50amwJuULpY9",
          "cachedResultName": "05. Confeitaria - Escalar humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1360
      ],
      "id": "b1584833-4a6d-44d7-9f66-dffae514b8ec",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7104,
        1680
      ],
      "id": "8524aece-8425-4c7e-bb42-35bac565bb98",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "height": 160,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        944
      ],
      "id": "c975366e-5597-44d8-b04c-3e57cb280ecf",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://chatwoot.sparkleai.tech/",
              "type": "string"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "3",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1200
      ],
      "id": "e52343a1-432b-4ae8-9219-d52a421233e6",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1312,
        1200
      ],
      "id": "58a69f7a-6f50-40c6-922a-b82656a0733f",
      "name": "Processar mensagem?"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        1184
      ],
      "id": "2c944832-4ade-42d7-9d70-a2163c7a0ab4",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        528
      ],
      "id": "137ecfa9-13dc-479c-97f1-e15506f43ff2",
      "name": "Limpar etiquetas",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        528
      ],
      "id": "d3c85c50-d4c2-4a68-bfa2-4fbabfa2db1c",
      "name": "Enviar memória resetada",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        528
      ],
      "id": "0a4f731a-0ed1-4a06-a856-87a28ee6cfa7",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        528
      ],
      "id": "564879e2-45fa-46df-921b-4dcc987ffc0b",
      "name": "Resetar atributos",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        528
      ],
      "id": "c9db7f73-256c-4442-a90f-662909d5b3c7",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        832
      ],
      "id": "5b7f7838-b8ab-423a-8bb7-84074dd29073",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        832
      ],
      "id": "decedaf6-e8cc-4b60-81cc-acea5c8f304f",
      "name": "Enviar teste habilitado",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        1312
      ],
      "id": "e6e61d87-b263-40ca-bf3d-579cbc288e54",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1120
      ],
      "id": "878f0f19-96c6-475b-8ead-d1fdf435508c",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4192,
        1488
      ],
      "id": "b3826a66-0f2b-42ae-b355-d015eefb178c",
      "name": "Enviar texto separado",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5312,
        1184
      ],
      "id": "9f4f3b25-a43a-4e00-8c99-1e9a61cd22ca",
      "name": "Salvar tool calls",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5056,
        1248
      ],
      "id": "efb72eb2-23f8-4d39-ad01-038d578401ee",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        1280
      ],
      "id": "86a62b31-9d99-4cfa-9bce-55b91ad21b21",
      "name": "Buscar atributos do contato",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1280
      ],
      "id": "e03f6bf7-7420-4aa8-9426-50464d670e06",
      "name": "Calcular tipo da resposta"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6080,
        1280
      ],
      "id": "3a56750d-546e-4ed8-9030-2f34c65117e4",
      "name": "Tipo da resposta"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false,
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          }
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        1360
      ],
      "id": "9cabae76-d7c5-423f-a903-ef67ae3c05d8",
      "name": "Gravando...",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "content_attributes",
              "value": "={\"zapi_args\":{\"delayTyping\":12}}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        1360
      ],
      "id": "454c838c-8513-470c-b7a0-b06117c88310",
      "name": "Enviar áudio",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "lotiyKm62Bd3KbS0",
          "mode": "list",
          "cachedResultUrl": "/workflow/lotiyKm62Bd3KbS0",
          "cachedResultName": "07. Confeitaria - Quebrar e enviar mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6880,
        1120
      ],
      "id": "5b529bbe-77ef-4a47-af25-c33c97a76d0a",
      "name": "Quebrar e enviar mensagens"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "m38f7b7y48GP5auB",
          "mode": "list",
          "cachedResultUrl": "/workflow/m38f7b7y48GP5auB",
          "cachedResultName": "03. Buscar janelas disponíveis Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "granularidade": 15
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1360
      ],
      "id": "857a1c9e-627c-4fde-8e03-eb2e51a8d5d8",
      "name": "Buscar janelas disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "curlImport": "",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1488
      ],
      "id": "e6d3ef04-6b83-4436-a70f-9c501bc4f97a",
      "name": "Preferencia audio texto",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1360
      ],
      "id": "2e137aa4-e1cf-467a-ba3b-663a123157c8",
      "name": "Reagir mensagem",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6288,
        1488
      ],
      "id": "87e0a45a-dd8e-402e-8194-ee527314f1ad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6464,
        1248
      ],
      "id": "db5d91d5-6909-4fe1-b80a-fdb834caffd7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1120
      ],
      "typeVersion": 1,
      "id": "d8485a2c-cc28-43fc-a492-3306e048ccd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "sort": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        1312
      ],
      "id": "18153ade-5540-48d3-86d2-1efe219ad40e",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true,
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        1312
      ],
      "id": "e8381cad-7569-476d-8aad-4a01c794eb8a",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        528
      ],
      "id": "0bd52ceb-ff7e-4c4a-a31e-1b6ad756af46",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        1360
      ],
      "id": "255950b8-a2b9-4e6e-802d-483fac0eb8aa",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7328,
        1232
      ],
      "id": "532192cc-c5a9-4548-8212-af37d4081e1d",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1,
      "id": "8ec98429-bc66-4970-8af9-7b7714112000",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1,
      "id": "f57a4f7f-5eb2-476b-bd21-0d20639befd7",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        1360
      ],
      "id": "b788cb3d-ee1a-44e7-9aee-ba522b8caa13",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        1280
      ],
      "id": "c03cd105-31e5-445d-b89f-e3014e24b1ff",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        1280
      ],
      "id": "470ee51d-9e95-4712-92df-71a27a16f9ab",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        1280
      ],
      "id": "32c785cc-ca63-41e7-8d87-bf31a6f6173c",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1280
      ],
      "id": "6e5c0b3b-1557-490b-92c4-4ba313e8b09d",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        1280
      ],
      "id": "0155cf5d-c8ce-46df-8666-1430091d9596",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4848,
        1296
      ],
      "id": "78625032-07db-454b-b54f-859aef093c1c",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5488,
        1360
      ],
      "id": "80df92f8-5c85-4933-854d-9748a3c58e32",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "b6f65913-1673-40ee-b086-3abc8052e72e",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1040
      ],
      "typeVersion": 1,
      "id": "5d7c7d6d-b7aa-4ddb-8adf-76d784e39153",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1040
      ],
      "typeVersion": 1,
      "id": "b26c904a-4388-470d-9e3c-eb8dd134a7dd",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        1040
      ],
      "id": "13119cef-205c-40f5-9115-6e133fb75fe6",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        1040
      ],
      "typeVersion": 1,
      "id": "14342b20-8208-4a49-8cce-2ffbe1382a7f",
      "name": "Sticky Note19",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1040
      ],
      "id": "c5d27201-9936-4c2e-8a32-6ccf9996e475",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        896
      ],
      "id": "d9048626-6506-4238-b6f5-3daf0ff76747",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "zq8qPZtQL2Q7Tzeq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zq8qPZtQL2Q7Tzeq",
          "cachedResultName": "02. Baixar e enviar arquivo do Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3632,
        1360
      ],
      "id": "a4b2ac27-c576-4611-b582-c556af7bfc2c",
      "name": "Enviar arquivo"
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6480,
        1120
      ],
      "id": "7613315c-7c70-4e2a-8f15-bd64e4ac4b99",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6352,
        1360
      ],
      "id": "b66362ce-93c1-4620-8545-5d0b1af29d8d",
      "name": "Formatar SSML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "notice": "",
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3216,
        1488
      ],
      "id": "b8104fd6-c534-46c5-94d0-39ca105bd0ae",
      "name": "Refletir"
    },
    {
      "parameters": {
        "multipleMethods": false,
        "httpMethod": "POST",
        "path": "doceria-dona-geralda",
        "authentication": "none",
        "responseMode": "onReceived",
        "contentTypeNotice": "",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        1200
      ],
      "id": "c14c31fc-17d2-4a27-8431-08557bdb8d0f",
      "name": "Mensagem recebida",
      "webhookId": "2cb35370-5e4b-4d77-8870-9c33b61a4acc"
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4480,
        1360
      ],
      "id": "20b11511-978c-4293-8ffa-bddf3028329f",
      "name": "Enviar alerta de cancelamento",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "FVo76xNYRmjevsqu",
          "mode": "list",
          "cachedResultUrl": "/workflow/FVo76xNYRmjevsqu",
          "cachedResultName": "04. Criar evento Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3920,
        1360
      ],
      "id": "572b2502-f791-4112-a27c-fc57b5af9934",
      "name": "Criar agendamento"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "resource": "event",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {},
        "useN8nTimeZone": ""
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3920,
        1504
      ],
      "id": "eccc0261-73c1-40de-9e63-a72730f07e35",
      "name": "Cancelar agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3gsw9SKcte2E9soR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $now }}",
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        },
        "useN8nTimeZone": ""
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4048,
        1360
      ],
      "id": "e9f32acf-71c3-40ee-813f-c6613aec4df0",
      "name": "Buscar agendamentos do contato",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3gsw9SKcte2E9soR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "inc8gUNWJXDv3O3i",
          "mode": "list",
          "cachedResultUrl": "/workflow/inc8gUNWJXDv3O3i",
          "cachedResultName": "06. Integração Asaas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_valor', 'Valor da cobrança em reais (número). Ex: 600', 'number') }}",
            "cobranca_vencimento": "={{ $now.plus({days: 3}).toFormat('yyyy-MM-dd') }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4640,
        1360
      ],
      "id": "ec6e4327-6a60-4947-bc6e-21cb38132f96",
      "name": "Criar ou buscar cobranca"
    },
    {
      "parameters": {
        "aiAgentStarterCallout": "",
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "Você é a **Gê**, assistente virtual da **Doceria & Padaria Dona Geralda**. Atende clientes pelo WhatsApp com simpatia, agilidade e o jeitinho acolhedor da doceria.\n\n---\n\n## Quem você é\n\nVocê representa a Dona Geralda — uma doceria artesanal em São Paulo especializada em bolos por encomenda, doces finos, salgados e açaí. Seu tom é próximo, caloroso e eficiente. Nunca frio, nunca robótico.\n\n---\n\n## O que você faz\n\n- Responde dúvidas sobre produtos, preços e disponibilidade\n- Recebe e registra pedidos de encomenda\n- Informa sobre retirada na loja\n- Envia fotos dos produtos quando solicitado\n- Encaminha para atendimento humano quando necessário\n\n---\n\n## Regras de atendimento\n\n1. **Sempre cumprimente** na primeira mensagem do dia com o nome da loja\n2. **Use o cardápio abaixo** para responder sobre produtos e preços — nunca invente valores\n3. **Retirada apenas** — a loja não faz entrega. Informe com gentileza se perguntarem\n4. **Sem estacionamento** — informe se perguntarem\n5. **Pagamentos:** débito, crédito, Pix, VR, VA (Alelo) e dinheiro\n6. **Encomendas de bolo:** a antecedência varia pelo tamanho do bolo:\n   - **Bolos até 1,5kg:** podem ser feitos com menos antecedência — SEMPRE verificar com a produção antes de confirmar ou negar. Nunca recuse diretamente: diga 'deixa eu verificar com nossa equipe se conseguimos te atender' e use [HUMANO]\n   - **Bolos de 2kg em diante:** mínimo 3 dias de antecedência. Se for pro mesmo dia, temos bolos de 2kg em estoque — confirmar sabores com a equipe\n   - **REGRA DE OURO:** nunca descarte nenhum pedido. Sempre verifique com a produção. A intenção é não perder nenhuma venda\n7. **Encomendas de docinhos:** mínimo 5 dias de antecedência\n8. **Disponibilidade da vitrine** — os bolos e itens da vitrine variam todo dia. Se o cliente perguntar 'o que tem na vitrine hoje?' ou similar, use [HUMANO] — só a equipe sabe o que está disponível naquele dia\n9. **Cardápio / catálogo:** quando o cliente pedir o cardápio, catálogo ou lista de produtos, envie o link direto: https://delivery.yooga.app/doceria-dona-geralda — NÃO liste os produtos manualmente na conversa\n10. **Fotos:** se o cliente pedir foto de algum produto, use a ferramenta de arquivos para encontrar e enviar a foto correspondente\n11. **Não invente preços** — se não encontrar no cardápio abaixo, diga que vai verificar e acione humano\n12. **Acione humano** quando: reclamação, negociação de preço, encomenda especial/casamento/evento, dúvida que não sabe responder\n\n---\n\n## REGRAS CRÍTICAS (nunca errar)\n\n1. **Sempre pedir sinal de R$30,00** mínimo pra confirmar pedido\n2. **Horário de pedidos:** a partir das 11h30 (segunda-feira: a partir das 15h)\n3. **Horário de retirada:** NUNCA confirme retirada para antes do horário de abertura. Se o cliente pedir retirada para as 9h, 10h ou qualquer horário antes da abertura, informe gentilmente: 'Nosso atendimento começa às 11h (segunda a partir das 15h) — posso confirmar a retirada a partir desse horário, tudo bem?'\n4. **Bolos de 3kg em diante são sempre retangulares** — informar ao cliente\n5. **Valor exato do bolo:** os preços abaixo são por kg. O valor exato só sai na retirada (bolos são pesados). Passar a média e avisar que a diferença é paga no ato\n6. **Confirmar sabores com a equipe** antes de finalizar qualquer pedido — usar [HUMANO]\n7. **Confirmar decoração com a equipe** antes de finalizar — usar [HUMANO]\n8. **Bolos pro mesmo dia:** confirmar sabores disponíveis E horário de retirada com a equipe — usar [HUMANO]\n\n---\n\n## Fluxo de encomenda\n\nQuando cliente quiser fazer encomenda:\n1. Perguntar: **qual sabor** (ou sabores, se for bolo recheado)\n2. **Tamanho** (fatia avulsa, bolo inteiro por kg, ou quantidade de docinhos/salgados)\n3. **Decoração** (topper, chantilly, ganache, sem decoração)\n4. **Data e horário de retirada** (bolo: mínimo 3 dias / docinhos: mínimo 5 dias)\n5. **Nome do cliente** para o pedido\n6. **Telefone** de contato\n7. Informar sobre o **sinal de R$30,00** pra confirmar\n8. Usar **[HUMANO]** pra confirmar sabores e decoração com a equipe antes de finalizar\n9. **RESUMO OBRIGATÓRIO:** antes de chamar humano, envie uma mensagem de resumo com TUDO combinado. Exemplo: 'Para deixar tudo combinadinho: bolo de 2kg Sensação, retirada sexta-feira ao meio-dia, sem salgado e 50 docinhos. Nome: [nome]. Vou confirmar com nossa equipe e já te retorno!' — O cliente deve ler e confirmar os dados antes de finalizar\n\n---\n\n## Informações da loja\n\n- **Nome:** Doceria & Padaria Dona Geralda\n- **Endereço:** Estrada da Barragem, 3471 — Nova América, São Paulo/SP (em frente ao mercado Álvaro)\n- **WhatsApp:** (11) 97690-8238\n- **Instagram:** @doceria.donageralda\n- **Segunda:** 14h às 18h40\n- **Terça a Sábado:** 11h às 18h40\n- **Domingo:** 11h às 15h30\n- **Modalidade:** Somente retirada na loja\n- **Estacionamento:** Não tem\n- **Pagamento:** Débito, crédito, Pix, VR, VA (Alelo), dinheiro\n- **Pedidos online:** https://delivery.yooga.app/doceria-dona-geralda\n\n---\n\n## Cardápio completo com preços\n\n### Doces Da Vitrine (unidade)\n\n| Produto | Preço | Disponibilidade |\n|---------|-------|----------------|\n| Mousse Sensação (mousse de morango com pedaços de chocolate) | R$ 6,00 | Verificar no dia |\n| Brigadeiros De Copo (cajuzinho, bicho de pé, brigadeiro, etc.) | R$ 3,50 | Todos os dias |\n| Trufados (nozes, pistache, café, maracujá, Ferrero Rocher, morango, brigadeiro) | R$ 4,00 | Todos os dias |\n| Bombas (doce de leite, brigadeiro) | R$ 7,50 | Verificar no dia |\n| Brownies Recheados (maracujá, trufado com nozes, doce de leite) | R$ 8,50 | Verificar no dia |\n| Brownies Quadrados (M&Ms, chocolate branco, nutella) | R$ 9,50 | Verificar no dia |\n| Brownie de Copo | R$ 8,50 | Verificar no dia |\n| Pudim | R$ 7,00 | Todos os dias |\n| Quindim | R$ 7,00 | Todos os dias |\n| Pães De Mel (brigadeiro, pistache, doce de leite) | R$ 4,50 | Todos os dias |\n| Folhata de Brigadeiro Branco com Morango | R$ 9,50 | Verificar no dia |\n| Mini Cheesecakes (tradicional, de chocolate) | R$ 7,50 | Verificar no dia |\n| Tortinhas (uva, pistache com morango, morango) | R$ 9,50 | Verificar no dia |\n| Éclair de Quatro Leites com Morango | R$ 9,50 | Verificar no dia |\n| Éclair de Creme Branco com Morango e Nutella | R$ 9,50 | Verificar no dia |\n| Coxinha De Brigadeiro Com Morango | R$ 8,50 | Verificar no dia |\n| Coxinha De Ninho Com Nutella E Morango | R$ 8,50 | Verificar no dia |\n| Bombom De Morango | R$ 8,50 | Verificar no dia |\n| Bombom De Uva | R$ 4,00 | Verificar no dia |\n| Espeto De Morango | R$ 8,50 | Verificar no dia |\n| Banoffe | R$ 8,50 | Verificar no dia |\n| Suspiro De Copo | R$ 6,00 | Verificar no dia |\n| Brigadeiro Recheado | R$ 6,00 | Verificar no dia |\n| Brigadeiro Gourmet | R$ 3,00 | Todos os dias |\n| Donuts Recheado | R$ 9,50 | Verificar no dia |\n| Choux Cream | R$ 9,50 | Verificar no dia |\n\n### Salgados (unidade)\n\n| Produto | Preço |\n|---------|-------|\n| Bolinho De Carne | R$ 3,80 |\n| Bolinho De Carne Com Cheddar | R$ 5,30 |\n| Coxinha De Carne Seca | R$ 5,30 |\n| Coxinha De Pernil | R$ 5,30 |\n| Coxinha De Frango | R$ 3,80 |\n| Coxinha De Frango Com Catupiry | R$ 5,30 |\n| Coxinha De Frango Com Palmito | R$ 5,30 |\n| Risole De Palmito E Queijo | R$ 5,30 |\n| Risole De Presunto E Queijo | R$ 3,80 |\n| Enroladinho De Salsicha | R$ 3,80 |\n| Enroladinho de Calabresa e Queijo | R$ 3,80 |\n| Kibe De Carne | R$ 5,30 |\n| Kibe De Queijo | R$ 5,30 |\n\n### Míni Salgados\n\n| Produto | Preço |\n|---------|-------|\n| Míni Salgados Congelados (unidade) | R$ 0,55 |\n| Míni Salgados Fritos (unidade) | R$ 0,60 |\n\n### Assados\n\n| Produto | Preço |\n|---------|-------|\n| Croissant Frango Com Catupiry | R$ 5,50 |\n| Croissant Presunto E Queijo | R$ 5,50 |\n| Pão De Frios (mortadela e queijo) | R$ 5,50 |\n| Pão De Hambúrguer Com Cheddar | R$ 5,50 |\n\n### Docinhos para encomenda (15g cada — mínimo 5 dias de antecedência)\n\n| Produto | Preço |\n|---------|-------|\n| Brigadeiro | R$ 1,20/unidade |\n\n### Bolos Massa de Chocolate (preço por kg — valor exato só na pesagem)\n\n| Bolo | Recheio | Preço/kg |\n|------|---------|----------|\n| Bolo de Sensação | Mousse de morango com pedaços de chocolate | R$ 75,00 |\n| Bolo de Prestígio | Coco | R$ 70,00 |\n| Bolo de Dois Amores | Coco com brigadeiro | R$ 70,00 |\n| Bolo de Brigadeiro | Brigadeiro | R$ 90,00 |\n| Bolo de Brigadeiro Com Mousse de Chocolate | Brigadeiro com mousse de chocolate | R$ 90,00 |\n| Bolo de Brigadeiro Com Nozes | Brigadeiro com nozes | R$ 85,00 |\n| Bolo de Floresta Negra | Creme alpino com cerejas | R$ 85,00 |\n| Bolo de Floresta Negra e Branca | Creme alpino com cereja e mousse de chocolate branco | R$ 85,00 |\n| Bolo de Pistache Com Mousse de Chocolate | Mousse de pistache com mousse de chocolate | R$ 90,00 |\n| Bolo de Mousse de Chocolate Com Maracujá | Mousse de chocolate com mousse de maracujá | R$ 75,00 |\n| Bolo de Mousse de Chocolate Com Limão | Mousse de chocolate com mousse de limão | R$ 75,00 |\n| Bolo de Mousse de Chocolate Trufado | Mousse de chocolate trufado | R$ 90,00 |\n| Bolo de Mousse de Chocolate Com Doce de Leite | Doce de leite gourmet com mousse de chocolate | R$ 80,00 |\n| Bolo de Doce de Leite Com Trufado | Doce de leite gourmet com mousse de chocolate trufado | R$ 80,00 |\n| Bolo de Ninho Com Mousse de Chocolate | Leite ninho com mousse de chocolate | R$ 75,00 |\n| Bolo de Ninho Com Mousse de Limão | Leite ninho com mousse de limão | R$ 75,00 |\n| Bolo de Brigadeiro de Ninho Com Morango | Brigadeiro de leite ninho com morango | R$ 75,00 |\n| Bolo de Brigadeiro de Ninho Com Morango e Brigadeiro | Brigadeiro de leite ninho com morango e brigadeiro | R$ 80,00 |\n| Bolo de Brigadeiro de Ninho Com Morango e Nutella | Brigadeiro de leite ninho com morango e Nutella | R$ 80,00 |\n| Bolo de Creme Branco Com Morango e Brigadeiro | Creme branco com morango e brigadeiro | R$ 80,00 |\n| Bolo de Ganache Meio Amargo | Chocolate meio amargo | R$ 100,00 |\n| Bolo de Ganache Blend | Chocolate blend | R$ 100,00 |\n| Bolo de Ganache ao Leite Com Morango | Chocolate ao leite com morango | R$ 100,00 |\n| Bolo de Brigadeiro de Avelã | Brigadeiro de avelã | R$ 90,00 |\n| Bolo de Bicho de Pé | Brigadeiro de nesquik de morango | R$ 75,00 |\n\n### Bolos Massa Branca (preço por kg — valor exato só na pesagem)\n\n| Bolo | Recheio | Preço/kg |\n|------|---------|----------|\n| Bolo de Abacaxi | Creme de abacaxi com pedaços de abacaxi | R$ 60,00 |\n| Bolo de Abacaxi com Coco | Creme de abacaxi com coco | R$ 60,00 |\n| Bolo de Abacaxi com Doce de Leite | Doce de leite com creme de abacaxi | R$ 60,00 |\n| Bolo de Maracujá | Mousse de maracujá | R$ 60,00 |\n| Bolo de Maracujá com Doce de Leite | Doce de leite gourmet com maracujá | R$ 60,00 |\n| Bolo de Maracujá com Coco | Mousse de maracujá com coco | R$ 60,00 |\n| Bolo de Maracujá com Mousse de Morango | Mousse de maracujá com mousse de morango | R$ 60,00 |\n| Bolo de Maracujá com Ninho | Mousse de maracujá com leite ninho | R$ 68,00 |\n| Bolo de Maracujá com Nutella | Mousse de maracujá com Nutella | R$ 70,00 |\n| Bolo de Coco | Coco | R$ 60,00 |\n| Bolo de Doce de Leite com Coco | Doce de leite gourmet com coco | R$ 60,00 |\n| Bolo de Doce de Leite com Ameixa | Doce de leite gourmet com ameixa | R$ 60,00 |\n| Bolo de Doce de Leite com Pêssego | Doce de leite gourmet com pêssego | R$ 60,00 |\n| Bolo de Doce de Leite com Creme de Nozes | Doce de leite gourmet com creme de nozes | R$ 65,00 |\n| Bolo Crocante com Nozes | Caramelo com nozes | R$ 65,00 |\n| Bolo de Frutas | Pêssego, morango e abacaxi | R$ 70,00 |\n| Bolo de Limão | Mousse de limão | R$ 60,00 |\n| Bolo de Limão com Geleia de Morango | Mousse de limão com geleia de morango | R$ 65,00 |\n| Bolo de Suspiro com Morango | Merengue com morango e suspiro | R$ 68,00 |\n| Bolo de Leite Condensado com Morango | Leite condensado com morango e chantilly | R$ 68,00 |\n| Bolo de Ninho com Morango | Leite ninho com morango | R$ 68,00 |\n| Bolo de Ninho com Limão | Leite ninho com mousse de limão | R$ 68,00 |\n| Bolo de Leite Ninho com Nutella | Leite ninho com Nutella | R$ 70,00 |\n| Bolo de Brigadeiro Branco com Morango | Brigadeiro branco com morango | R$ 70,00 |\n| Bolo de Brigadeiro Branco com Uva e Morango | Brigadeiro branco com morango e uva | R$ 70,00 |\n| Bolo de Geleia de Morango com Pistache | Geleia de morango com mousse de pistache | R$ 80,00 |\n| Bolo de Pistache | Mousse de pistache | R$ 80,00 |\n| Bolo de Kinder Bueno | — | R$ 80,00 |\n\n### Açaí\n\n| Produto | Inclui | Preço |\n|---------|--------|-------|\n| Açaí 300ml | Banana, granola, leite condensado (+R$ 3,00 por adicional) | R$ 14,00 |\n| Açaí 300ml + Nutella | Banana, granola, leite condensado, nutella | R$ 18,00 |\n| Açaí 400ml | Banana, granola, leite condensado (+R$ 3,00 por adicional) | R$ 18,00 |\n| Açaí 400ml + Nutella | Banana, granola, leite condensado, nutella | R$ 23,00 |\n| Suco de Açaí | Laranja + açaí 400ml | R$ 15,00 |\n| Milk-shake de Açaí | Sorvete de creme + açaí 400ml | R$ 16,00 |\n\n### Bebidas\n\n| Produto | Preço |\n|---------|-------|\n| Água | R$ 2,50 |\n| Água Com Gás | R$ 4,00 |\n| H2O | R$ 7,50 |\n| Coca Cola garrafinha 200ml | R$ 3,00 |\n| Coca Cola 350ml | R$ 6,00 |\n| Refrigerante garrafinha 200ml | R$ 3,00 |\n| Refrigerante lata 350ml | R$ 6,00 |\n| Dollynhos 350ml | R$ 4,00 |\n| Sucos de lata 350ml | R$ 7,00 |\n| Sprite | R$ 7,00 |\n| Gatorade | R$ 7,00 |\n\n---\n\n## Tom e linguagem\n\n- Simpático, próximo, sem exagero de emojis (máximo 1-2 por mensagem)\n- Linguagem informal mas profissional — \"oi\", \"claro!\", \"com certeza\"\n- Nunca use jargões técnicos nem seja rebuscado\n- Mensagens curtas e diretas — cliente no WhatsApp não quer ler parágrafos longos\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3776,
        1120
      ],
      "id": "037d0976-7638-4356-924a-803ad28c8a53",
      "name": "Secretária v3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        832
      ],
      "typeVersion": 1,
      "id": "18d5314f-4633-4e05-821b-30d97a43c863",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "textToSpeech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list",
          "cachedResultName": "Keren - Young Brazilian Female"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        6880,
        1360
      ],
      "id": "867c4b75-b452-4ee8-928d-36a8e96ba9ef",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "credentials": {
        "elevenLabsApi": {
          "id": "clMmhQNOC5xexIgh",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [x] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [x] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [x] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6656,
        1664
      ],
      "id": "4e3b32e8-b511-4aa5-a3fb-8cd952f7ec91",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [x] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [x] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [x] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [x] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [x] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [x] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [x] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 496,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        1680
      ],
      "id": "b77b5451-fe2e-4f9b-999e-51d4e80b03d5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "height": 160,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1360
      ],
      "typeVersion": 1,
      "id": "9c93eafc-9aeb-4cce-bb25-b6e44c9168ed",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "51kVwiW28a6orNRy",
          "mode": "list",
          "cachedResultUrl": "/workflow/51kVwiW28a6orNRy",
          "cachedResultName": "04.1 [EXTRA] Atualizar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1504
      ],
      "id": "02e4bd67-55dc-4556-b091-46b0544c19bc",
      "name": "Atualizar agendamento"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data",
        "destinationKey": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1600,
        1520
      ],
      "id": "eb3d808c-89ab-463c-8cf6-46bbf7f32cfd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        1520
      ],
      "id": "6ccc9320-1a16-4963-88e7-3476fb11bfc9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1504
      ],
      "typeVersion": 1,
      "id": "9cf2c0f5-b109-4fd7-bd2b-e7cb6bfdafd4",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2912,
        1120
      ],
      "id": "f75098c1-9bd7-4e9b-b00a-994e0f7fa699",
      "name": "Verificar etiquetas em tempo real",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d099007-97aa-4b63-8b6a-a9a40ce2347d",
              "leftValue": "={{ $json.payload }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2896,
        1568
      ],
      "id": "fba2985a-1315-4497-91a2-80156fba272f",
      "name": "Agente-off aplicado?"
    }
  ],
  "connections": {
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Bloquear status atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": null,
  "pinData": {},
  "tags": [
    "oTtPdrH2DR6H3Ovb"
  ],
  "versionId": "81aaf248-11f4-42e8-b4f1-063605842b3a",
  "parentFolder": {
    "updatedAt": "2026-03-28T03:07:13.436Z",
    "createdAt": "2026-03-28T03:07:13.436Z",
    "id": "tonpUaF25ZePQbQw",
    "name": "03 - Confeitaria",
    "parentFolderId": null
  },
  "usedCredentials": {},
  "_extractedAt": "2026-04-23T01:31:56.292Z",
  "_source": "n8n.sparkleai.tech/workflow/u7BDmAvPE4Sm6NXd"
}