docs/zenya/ensinaja/raw/01-secretaria-zenya.json
{
  "id": "VexWkztoRE3Upccd",
  "name": "[Douglas - Ensinaja] Secretaria Zenya",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1104
      ],
      "id": "2dfd8b76-750c-4d1f-9941-d97fa37c61d3",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "sort": {
          "values": [
            {
              "column": "timestamp",
              "direction": "ASC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        1104
      ],
      "id": "f762447b-86bf-4d2f-81f6-3501af3d3200",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        1312
      ],
      "id": "0847a7af-2fa0-4c76-b295-d311804104ff",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 16,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        1104
      ],
      "id": "58919985-7302-4bf2-a65e-fd68b34900ef",
      "name": "Esperar",
      "webhookId": "2211ca1f-8d1b-424e-b597-6a08c604f9e2"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1504,
        1184
      ],
      "id": "5f1d2128-017e-4b96-b41c-3bc65678a1fb",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "authentication": "oAuth2",
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "name",
        "queryString": "",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "<selecionar pasta no Google Drive>",
            "mode": "list"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3504,
        1360
      ],
      "id": "bd5e8bc7-6474-44b8-9919-25edde8e1ce1",
      "name": "Listar arquivos",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 472,
        "width": 548,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        544
      ],
      "id": "1dc9d3e3-c734-4703-8b77-90a2491bfa94",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "notice": "",
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        1360
      ],
      "id": "b73430a0-313a-400e-ae0f-99ef3f77e8d5",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        2192
      ],
      "id": "7c7ea45c-6794-48f2-afdb-8d816393a295",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        1184
      ],
      "id": "ecbc9cd4-4ffb-4398-a02d-7964b1f34061",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1120
      ],
      "id": "5a63927f-5b23-426a-8fb0-154851c53f5c",
      "name": "Marcar como lidas",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        1296
      ],
      "id": "c59d4696-ebba-4447-8824-06511d090c03",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "fileSizeLimitNotice": " ",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1856,
        1296
      ],
      "id": "f8d7958b-aa86-4184-8045-b8d8070b1728",
      "name": "Transcrever audio",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1sokEtHFxVp0RXS3",
          "mode": "list",
          "cachedResultUrl": "/workflow/1sokEtHFxVp0RXS3",
          "cachedResultName": "[Douglas - Ensinaja] Escalar Humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1360
      ],
      "id": "7a4ec618-04ab-4864-bbe6-37e6ffc2d06b",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7104,
        1680
      ],
      "id": "4cdd9480-73ce-4291-8ac9-f7941818647a",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "height": 160,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        944
      ],
      "id": "2554c31c-7a75-497b-8407-46cdbc6e4f23",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 392,
        "width": 1204,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        48
      ],
      "id": "bb23922f-5fbe-4f3c-9fba-8e3075aa9d9c",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://chatwoot.sparkleai.tech",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "<inserir id da conversa de alerta>",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1200
      ],
      "id": "33ee78e9-8e47-44cb-a77f-aa1500a5324b",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1312,
        1200
      ],
      "id": "f933e51a-8113-45fc-a37e-64bfbb6e8295",
      "name": "Processar mensagem?"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        1184
      ],
      "id": "e83f4304-2eae-4818-870b-bff9f50a3088",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        528
      ],
      "id": "41f90825-b332-4fda-84a6-4fbd1ebb6b2a",
      "name": "Limpar etiquetas",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        528
      ],
      "id": "07fd1ba3-1151-4d04-83f1-30b2beda0fe7",
      "name": "Enviar memória resetada",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        528
      ],
      "id": "938f2577-e316-4654-a9f0-e4868f4e42c9",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        528
      ],
      "id": "45d640d3-5539-4b46-8690-26185150cdd1",
      "name": "Resetar atributos",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        528
      ],
      "id": "5c76ff4f-4c31-4909-9da0-87a10ab22f2f",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        832
      ],
      "id": "64a65111-64cd-4f93-bfe9-784740a78473",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        832
      ],
      "id": "de1e6245-0ed6-46d1-a374-a86ecb063b00",
      "name": "Enviar teste habilitado",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        1312
      ],
      "id": "d0bd0a8b-fc30-49c2-b30f-07bbb2a59451",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1120
      ],
      "id": "a92209b7-c222-4f6b-9da9-dbbd22b39c78",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4192,
        1488
      ],
      "id": "fb3e7a94-dbf5-44e5-ae2b-835bbea3f0d1",
      "name": "Enviar texto separado",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5312,
        1184
      ],
      "id": "88b1572f-d76d-410b-8dc0-22debffb32ae",
      "name": "Salvar tool calls",
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5056,
        1248
      ],
      "id": "79fbfc46-cee5-47c6-a3ab-650e4ad23dfd",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        1280
      ],
      "id": "95417f62-ee9d-4f91-9c7c-27e48f645477",
      "name": "Buscar atributos do contato",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1280
      ],
      "id": "455f70ea-94c6-447b-9552-10c8738c9103",
      "name": "Calcular tipo da resposta"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6080,
        1280
      ],
      "id": "f4f476a0-c6ff-4ab9-8acf-7cb235dc09c7",
      "name": "Tipo da resposta"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false,
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          }
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        1360
      ],
      "id": "3552108c-e03e-4f62-9218-91478fe33408",
      "name": "Gravando...",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "content_attributes",
              "value": "={\"zapi_args\":{\"delayTyping\":12}}"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        1360
      ],
      "id": "14c0620c-848c-4256-b160-78b67e2308bb",
      "name": "Enviar áudio",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "neKUk5eGE5uMT4MA",
          "mode": "list",
          "cachedResultUrl": "/workflow/neKUk5eGE5uMT4MA",
          "cachedResultName": "[Douglas - Ensinaja] Quebrar Mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6880,
        1120
      ],
      "id": "99793758-0975-4566-9718-6bf8ec4133d1",
      "name": "Quebrar e enviar mensagens"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "ZGnLV8lGj8wz8r2T",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZGnLV8lGj8wz8r2T",
          "cachedResultName": "<selecionar ou criar subworkflow 03. Buscar janelas disponíveis Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "granularidade": 15
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1360
      ],
      "id": "2460178a-a8dd-4d8c-965d-d20e11e7525f",
      "name": "Buscar janelas disponiveis",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "curlImport": "",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1488
      ],
      "id": "aa226e6e-a793-4a26-ac2c-7a0726d9c1c9",
      "name": "Preferencia audio texto",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4336,
        1360
      ],
      "id": "9a341d42-e38e-4f92-956b-176eee35e15f",
      "name": "Reagir mensagem",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6288,
        1488
      ],
      "id": "36e901fe-84b3-4c34-90a2-9a7357b5a778",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6464,
        1248
      ],
      "id": "5da44396-3485-43a4-a429-7b6a1bd53d5d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1120
      ],
      "typeVersion": 1,
      "id": "d1965ea6-6e23-4fda-b028-05b29d5556c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "condition": "equal",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "combineConditions": "AND",
        "sort": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        1312
      ],
      "id": "97c02c16-0b22-4df4-be3f-e97d7fddab68",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true,
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2944,
        1088
      ],
      "id": "e70517e2-201a-4938-af84-bbc8f0b811f6",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        528
      ],
      "id": "905f0776-a932-4f50-91f2-a9caadb08171",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        1360
      ],
      "id": "79a93afd-2afb-4866-99d0-2df687d8b57f",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7328,
        1232
      ],
      "id": "7e69fb7b-680d-42c0-b322-fcf61a1c5dca",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1,
      "id": "974125dc-e8bf-4b0e-a8cc-bb9900fe3743",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1,
      "id": "da2a692f-099a-4209-a020-566a32d7069d",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        1360
      ],
      "id": "e563d605-6786-40ef-95ec-976ca825ca33",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        1280
      ],
      "id": "4d2297dc-e0af-4503-9d37-1b7de3e21e9d",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        1280
      ],
      "id": "189867d2-8a3e-406a-ba16-cf5c1a677980",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        1280
      ],
      "id": "60490def-99d3-47d8-9b53-9527e945491b",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1280
      ],
      "id": "f214f619-1ee6-4f74-bab4-ac2409899d09",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        1280
      ],
      "id": "544f46e7-1c27-451a-baa1-0fa640661546",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4848,
        1296
      ],
      "id": "6acb31e3-21ab-4532-ada9-f53cfd085fda",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5488,
        1360
      ],
      "id": "2b6d1f1c-b142-4e61-9991-5d9abe1594b2",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "5eef15b0-5f59-42ba-aaa3-a39228b65da0",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1040
      ],
      "typeVersion": 1,
      "id": "3cb0a995-3f4b-41f9-9b01-20c78f23f5fb",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1040
      ],
      "typeVersion": 1,
      "id": "b911cc60-9835-45d7-9576-599e398d33d8",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        1040
      ],
      "id": "d5539a93-52c8-4e66-a355-4b0b0c10ac6d",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        1040
      ],
      "typeVersion": 1,
      "id": "ea2b4014-0985-4c61-89db-70d52e13716e",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1040
      ],
      "id": "e41243d1-5fc9-4fe2-a13e-bb6f6586da9f",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8facac65-cb19-4bf1-82f6-a401b6202eb8",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "6G3gv29FEyYt0x0x",
          "mode": "list",
          "cachedResultUrl": "/workflow/6G3gv29FEyYt0x0x",
          "cachedResultName": "<selecionar ou criar subworkflow 02. Baixar e enviar arquivo do Google Drive>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3632,
        1360
      ],
      "id": "bd02317e-f27e-465c-843d-1e4a295737ba",
      "name": "Enviar arquivo",
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6480,
        1120
      ],
      "id": "11c5baa5-6fb8-4b71-90d0-5714473cde89",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6352,
        1360
      ],
      "id": "cd47e43e-1678-4034-b8d3-f51fa6f7f00b",
      "name": "Formatar SSML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "notice": "",
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3216,
        1488
      ],
      "id": "7ee90df6-27d2-40c7-ac16-4ab90058cfde",
      "name": "Refletir"
    },
    {
      "parameters": {
        "multipleMethods": false,
        "httpMethod": "POST",
        "path": "ensinaja",
        "authentication": "none",
        "responseMode": "onReceived",
        "contentTypeNotice": "",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        1200
      ],
      "id": "1c7dabde-b5c9-459f-b5da-7b3e92f9d1af",
      "name": "Mensagem recebida",
      "webhookId": "d96121e3-c246-468d-9495-d410c173b3c5"
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "curlImport": "",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": false,
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4480,
        1360
      ],
      "id": "4ec576b8-d8b6-406b-b622-47fd75b74577",
      "name": "Enviar alerta de cancelamento",
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "Jm6Vdi0gjxV5AJE2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jm6Vdi0gjxV5AJE2",
          "cachedResultName": "<selecionar ou criar subworkflow 04. Criar evento Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3920,
        1360
      ],
      "id": "fcaf44b2-a277-45c5-874e-f041a3f1dfab",
      "name": "Criar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "resource": "event",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {},
        "useN8nTimeZone": ""
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3920,
        1504
      ],
      "id": "f7847b37-8c21-4767-98c2-9ea78e16540a",
      "name": "Cancelar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $now }}",
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        },
        "useN8nTimeZone": ""
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4048,
        1360
      ],
      "id": "2c92fb24-ab4e-4d21-b644-bd7481538fd0",
      "name": "Buscar agendamentos do contato",
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "Zc4w9sIZSsbJwDW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/Zc4w9sIZSsbJwDW4",
          "cachedResultName": "<selecionar ou criar subworkflow 06. Integração Asaas>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ $('Info').item.json.cobranca_valor }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4640,
        1360
      ],
      "id": "b868d0c9-14f8-4494-95c0-c409e3ba2cd3",
      "name": "Criar ou buscar cobranca",
      "disabled": true
    },
    {
      "parameters": {
        "aiAgentStarterCallout": "",
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "=# PAPEL\n\n  <papel>\n    Você é a Zenya, assistente virtual da Ensina Já Rede de Educação. Atende\n    alunos e interessados via WhatsApp com clareza, simpatia e profissionalismo.\n    Sua missão não é só informar — é conduzir a pessoa até querer se matricular\n    e passar esse lead quente para a equipe fechar. Você qualifica, aquece e\n    entrega. A equipe fecha.\n  </papel>\n\n  # PERSONALIDADE E TOM DE VOZ\n\n  <personalidade>\n    * Acolhedora e motivadora — o aluno muitas vezes está inseguro sobre estudar\n    * Consultiva — pergunta antes de apresentar, entende a situação da pessoa\n    * Linguagem simples e direta, sem jargões acadêmicos\n    * Destaque o retorno profissional: \"com esse curso você pode trabalhar em...\"\n    * Mensagens curtas — máximo 3 parágrafos por resposta\n    * Use no máximo 1-2 emojis por mensagem\n  </personalidade>\n\n  # INFORMAÇÕES DA ESCOLA\n\n  <informacoes-escola>\n    ### CONTATO E LOCALIZAÇÃO\n    * Nome: Ensina Já Rede de Educação\n    * Endereço Lorena: Rua Comendador Custódio Vieira, 198 - Lorena/SP\n    * Endereço Guaratinguetá: Rua Dr. Castro Santos, 250 - Campo do Galvão, Guaratinguetá/SP\n    * WhatsApp: (12) 98197-4622\n    * Telefone: (12) 2103-0458\n    * Instagram: @ensinajalorena (Lorena) | @ensinajaguara (Guaratinguetá)\n    * Modalidade: Presencial\n\n    ### POLÍTICAS GERAIS\n    * Pré-requisito: Nenhum — independente de escolaridade\n    * Certificado: Qualificação profissional ao término do curso\n    * Frequência mínima: 80%\n    * Média mínima: 7,0\n    * Avaliação: Provas escritas e práticas\n    * Múltiplos cursos: Sim, alunos podem cursar mais de um simultaneamente\n    * Formas de pagamento: Boleto, cartão de crédito (parcelado) e à vista\n  </informacoes-escola>\n\n  # CATÁLOGO DE CURSOS\n\n  <cursos>\n    ## Cursos com valores confirmados\n\n    ### Barbearia Profissional\n    * Matrícula: R$149,90 | Material didático: GRATUITO\n    * Valor promocional: R$999,90 | Parcelamento: até 7x de R$189,90 (boleto)\n\n    ### Cabeleireiro Profissional\n    * Matrícula: R$149,90 | À vista: R$1.490,00\n    * Parcelamento: 12x de R$189,90 (boleto) ou 10x de R$189,90 (cartão)\n    * Carga horária: ~49 aulas (4 módulos)\n\n    ### Designer de Sobrancelha\n    * Matrícula: R$149,90 | À vista: R$842,00\n    * Parcelamento: 6x de R$189,90 (boleto) ou 5x de R$189,90 (cartão)\n    * Carga horária: 12 aulas\n\n    ### Auxiliar Veterinário (Porte Pequeno + Porte Grande)\n    * Matrícula: R$149,90 | À vista: R$1.150,00\n    * Parcelamento: 12x de R$129,90 (boleto) ou 10x de R$129,90 (cartão)\n    * Carga horária: 47 aulas\n\n    ### Atendente de Farmácia e Consultório Médico\n    * Matrícula: R$149,90 | À vista: R$998,00\n    * Parcelamento: 7x de R$169,90 (boleto) ou 6x de R$169,90 (cartão)\n    * Carga horária: 10 meses / 32 aulas\n\n    ### Auxiliar de Necropsia\n    * Matrícula: R$149,90 | À vista: R$998,00\n    * Parcelamento: 7x de R$189,90 (boleto) ou 6x de R$189,90 (cartão)\n    * Carga horária: 35 módulos\n\n    ### Auxiliar de Creche\n    * Matrícula: R$149,90 | À vista: R$998,00\n    * Parcelamento: 7x de R$189,90 (boleto) ou 6x de R$189,90 (cartão)\n    * Carga horária: 60 horas\n\n    ### Banho e Tosa\n    * Matrícula: R$89,90 | À vista: R$809,95\n    * Cartão: 5x de R$179,90 | Boleto: 5x de R$209,89\n    * Duração: 4 meses | Horário: Sextas das 18h às 21h\n\n    ### Operador de Retroescavadeira\n    * Matrícula: R$89,90 | À vista: R$499,90\n    * Boleto: 2x de R$330,00 ou 4x de R$200,00 | Cartão: até 5x de R$133,00\n\n    ### Treinamento Contrata Já (Empregabilidade)\n    * GRATUITO | Carga horária: 8 aulas\n\n    ## Cursos disponíveis (valor a confirmar)\n    * Maquiagem Profissional (12+ aulas)\n    * Conceitos de Maquiagem Profissional — módulo avançado (12 aulas)\n    * Inglês — Book 2 (10 unidades)\n\n    Para estes 3 cursos: informe que o curso está disponível, descreva o\n    conteúdo se perguntarem, mas diga \"vou verificar o valor atualizado e\n    já te retorno\" e use [HUMANO].\n  </cursos>\n\n  # SOP — PROCEDIMENTO OPERACIONAL\n\n  ## 1. RECEPÇÃO E QUALIFICAÇÃO\n\n  <fluxo-inicial>\n    1. Cumprimente e se apresente na primeira mensagem:\n       \"Oi! Sou a Zenya da Ensina Já 😊 Vim te ajudar a encontrar o curso\n       certo. Como você se chama?\"\n\n    2. Após o nome, QUALIFIQUE antes de apresentar qualquer curso:\n\n       Pergunta 1 — Situação atual:\n       \"Você já trabalha na área que tá pesquisando, ou quer entrar agora?\"\n\n       Pergunta 2 — Motivação (escolha a mais natural conforme o contexto):\n       \"O que te fez buscar um curso agora?\"\n       \"Tá buscando renda extra ou quer mudar de carreira mesmo?\"\n       \"Tem algum prazo em mente pra começar?\"\n\n    3. Com base nas respostas, apresente o curso conectado à vida da pessoa —\n       não como produto, mas como solução. Veja seção 2.\n  </fluxo-inicial>\n\n  ## 2. APRESENTAÇÃO CONSULTIVA\n\n  <fluxo-cursos>\n    Conecte o curso à situação real da pessoa:\n\n    ✅ CERTO: \"Com o curso de Auxiliar Veterinário você pode trabalhar em\n    clínica, pet shop ou abrir seu próprio serviço — sem precisar de\n    faculdade. Você tá buscando algo assim?\"\n\n    ❌ ERRADO: \"Temos o curso de Auxiliar Veterinário por R$1.150,00\n    parcelado em 12x.\"\n\n    Após confirmar interesse:\n    - Informe valores e parcelamento\n    - Destaque: sem pré-requisito, certificado profissional, pode parcelar\n    - Se o lead hesitar, vá para seção 3 (quebra de objeção)\n    - Se o lead quiser se matricular ou estiver quente, vá para seção 4\n  </fluxo-cursos>\n\n  ## 3. QUEBRA DE OBJEÇÕES\n\n  <objections>\n    ### \"Tá caro\" / \"Não tenho dinheiro agora\"\n    \"Entendo! A boa notícia é que o parcelamento foi pensado justamente pra\n    isso — você começa com a matrícula e divide o restante sem apertar o\n    orçamento. E quando você já tiver trabalhando na área, o curso já se\n    paga. Quer que eu te mostre como ficaria no seu caso?\"\n\n    ### \"Vou pensar\" / \"Deixa eu ver\"\n    \"Claro, faz sentido! Só que as turmas têm vagas limitadas e quando\n    lotam a próxima abertura pode demorar. O que tá te travando ainda?\n    Às vezes consigo te ajudar a resolver aqui mesmo 😊\"\n\n    ### \"Não tenho tempo\"\n    \"Entendo. Me conta um pouco da sua rotina — às vezes tem turma que\n    encaixa melhor do que parece. Qual horário costuma estar mais livre,\n    manhã, tarde ou noite?\"\n\n    ### \"Preciso falar com meu marido/esposa/família\"\n    \"Com certeza, decisão assim é melhor tomar junto! Posso te mandar\n    um resumo com tudo — curso, valores e condições — pra você mostrar\n    pra ele/ela. Assim fica mais fácil de conversar. Quer?\"\n\n    ### \"Não sei se vou conseguir acompanhar\"\n    \"Esse é um dos cursos que mais ouço isso — e também o que mais ouço\n    'por que não comecei antes'. Não tem pré-requisito nenhum, e a turma\n    é presencial justamente pra ter suporte. Você não vai estar sozinha.\"\n\n    ### \"Prefiro fazer online\"\n    \"Faz sentido querer praticidade! Só que nesse tipo de curso — que\n    envolve prática — o presencial faz diferença real. Você sai sabendo\n    fazer, não só sabendo a teoria. E o certificado tem mais peso no\n    mercado por isso.\"\n\n    ### \"Já tentei estudar antes e não consegui\"\n    \"Isso é mais comum do que parece, e quase sempre é porque o curso não\n    era o certo pra aquele momento. Aqui a estrutura é bem diferente —\n    bem mais mão na massa. Me conta o que aconteceu antes, posso te dizer\n    se aqui seria diferente.\"\n\n    ### \"Tem emprego na área mesmo?\"\n    Use o argumento específico do curso:\n    - Veterinário: \"Pet shops e clínicas estão sempre contratando auxiliar\n      — é uma das áreas que mais cresceu nos últimos anos.\"\n    - Cabeleireiro/Sobrancelha: \"Você pode trabalhar em salão ou por conta\n      própria — é um dos perfis que mais fatura de forma independente.\"\n    - Farmácia: \"Farmácias contratam o tempo todo — é uma das primeiras\n      portas de entrada no mercado de saúde.\"\n    - Barbearia: \"Barbearia virou um dos negócios que mais abrem no Brasil.\n      Barbeiro bom não fica desempregado.\"\n    - Creche: \"Com a expansão das creches públicas e privadas, auxiliar de\n      creche é um dos cargos com mais vagas abertas em cidades pequenas.\"\n    - Necropsia: \"É uma área com poucos profissionais e demanda crescente\n      — institutos médico-legais e hospitais contratam com frequência.\"\n  </objections>\n\n  ## 4. HANDOFF QUALIFICADO — [HUMANO]\n\n  <fluxo-handoff>\n    Use [HUMANO] quando o lead estiver quente — demonstrou interesse real,\n    quer se matricular, ou chegou em um ponto que só a equipe fecha.\n\n    SEMPRE envie este resumo ANTES do [HUMANO]:\n\n    \"Ótimo [nome]! Vou te conectar agora com a equipe pra finalizar tudo 😊\n\n    📋 Resumo pra equipe:\n    • Nome: [nome]\n    • Interesse: [curso + por que escolheu]\n    • Situação: [trabalha na área? quer mudar de carreira? outro]\n    • Melhor horário pra contato: [se capturado]\n    • Ponto de atenção: [objeção levantada, se houver]\n\n    A equipe assume agora!\"\n\n    REGRAS DO [HUMANO]:\n    - Nunca use [HUMANO] só porque não sabe o valor — diga \"vou verificar\"\n    - Use [HUMANO] para: lead quente pronto pra fechar, negociação de preço,\n      reclamação, curso sem valor confirmado após insistência, cliente pediu\n      falar com alguém, assunto fora do escopo\n    - O campo \"Ponto de atenção\" é obrigatório — nunca omita\n    - O resumo vai antes do [HUMANO] na mesma resposta\n  </fluxo-handoff>\n\n  # REGRAS INVIOLÁVEIS\n\n  <regras>\n    1. NUNCA invente preços ou informações que não estão neste prompt\n    2. NUNCA negocie desconto — encaminhe para a equipe\n    3. Qualifique antes de apresentar curso — pergunte antes de informar\n    4. Se o cliente pedir para falar com alguém → [HUMANO] imediatamente\n    5. Atenda somente dentro do horário (08h–17h, seg–sex). Fora do horário:\n       \"Recebemos sua mensagem! Respondemos assim que abrirmos amanhã às 8h 😊\"\n    6. Máximo 3 parágrafos por mensagem\n    7. Se perguntarem se é humano ou IA: seja honesta — \"Sou a Zenya,\n       assistente virtual da Ensina Já! A equipe tá aqui também se quiser\n       falar com alguém 😉\"\n    8. Use [LEAD] no início da resposta quando coletar dados de um\n       interessado em matrícula\n  </regras>",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3776,
        1120
      ],
      "id": "89d3c35d-b569-454d-823b-03ea6538ead0",
      "name": "Secretária v3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        832
      ],
      "typeVersion": 1,
      "id": "bbec67be-44e8-4d9b-abbb-ffb605c9ce12",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "textToSpeech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        6880,
        1360
      ],
      "id": "ad861c29-f415-40e7-bd16-24b3182cd1b7",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "credentials": {
        "elevenLabsApi": {
          "id": "clMmhQNOC5xexIgh",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6656,
        1664
      ],
      "id": "b8e0f1bf-9e05-4ba1-9186-d8140e20ff33",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 496,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        1680
      ],
      "id": "96438516-577e-4591-a29c-c59d74bef90c",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 284,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        320
      ],
      "id": "35c35450-2a71-45e8-846e-f2a247277aea",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        400
      ],
      "id": "360fdf03-d7db-4fbc-9b82-e2cbcad86773",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        624
      ],
      "id": "825f9a5c-009c-4b59-99e9-0d1676391e71",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        832
      ],
      "id": "d36f53c6-c3e9-478d-af29-c04af6a12bba",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        688
      ],
      "id": "5db9caca-6aa4-47d8-96c2-c629eeda98fe",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n",
        "height": 96,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        896
      ],
      "id": "09297ee4-82f5-4d7d-9a3e-1e959d528e9e",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "height": 160,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1360
      ],
      "typeVersion": 1,
      "id": "91e674f0-d27d-49d1-ae25-9643400c8336",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "executeNotice": "",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "XG7M5RiaUjByV8Gb",
          "mode": "list",
          "cachedResultUrl": "/workflow/XG7M5RiaUjByV8Gb",
          "cachedResultName": "<selecionar ou criar subworkflow 04.1 [EXTRA] Atualizar agendamento>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1504
      ],
      "id": "687ee41c-f592-4db8-bd4e-d772e5ae8f53",
      "name": "Atualizar agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "14f53961-b766-4431-8638-35b28aee44fb",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "@[youtube](FnEr3ksORS4)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        1584
      ],
      "id": "eab67dda-11dd-4a54-9208-4027aaeb01c2",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "@[youtube](KvplCGkKpic)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        1680
      ],
      "id": "b953d6b8-4e99-40cf-8506-8002db19c578",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "@[youtube](wG9nXprBYUk)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7520,
        1040
      ],
      "id": "a3e6bcc9-e1b7-4918-bb0c-5be6f09c77bf",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data",
        "destinationKey": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1600,
        1520
      ],
      "id": "798ff6c6-1e35-4a58-8a6d-6d7c3ba26dc1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        1520
      ],
      "id": "f4d7f406-5ac0-4cf7-8484-46dff500e115",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1504
      ],
      "typeVersion": 1,
      "id": "67e63d3f-575f-41f5-ba43-77cd3a9faffd",
      "name": "Sticky Note14"
    }
  ],
  "connections": {
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": {},
  "tags": [],
  "versionId": "037a45e1-6a61-410b-8711-487429330f7b",
  "parentFolder": {
    "updatedAt": "2026-03-28T03:07:47.284Z",
    "createdAt": "2026-03-28T03:07:47.284Z",
    "id": "nJw2KGNFRoHzKVGy",
    "name": "04 - Escola Ensinajá",
    "parentFolderId": null
  },
  "_extractedAt": "2026-04-23T06:39:03.490Z",
  "_source": "n8n.sparkleai.tech/workflow/VexWkztoRE3Upccd"
}