docs/zenya/hl-import/01-secretaria-v3.json
{
  "name": "01. [HL Importados] Secretária v3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "id": "a3f2583e-015e-4efe-8610-18996c2a5426",
      "name": "Mensagem encavalada?",
      "type": "n8n-nodes-base.code",
      "position": [
        2688,
        1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_fila_mensagens"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "id": "7f1cae2c-c417-4c91-8a88-86f0bf350516",
      "name": "Buscar mensagens",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2464,
        1104
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_fila_mensagens"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4c65074-f2e6-46a3-ad0a-6a2a5778a693",
      "name": "Limpar fila de mensagens",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2976,
        1312
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 16
      },
      "id": "c85309db-f4aa-46f9-baf0-4ee258272435",
      "name": "Esperar",
      "type": "n8n-nodes-base.wait",
      "position": [
        2256,
        1104
      ],
      "webhookId": "0e4bc954-6a67-40ac-b257-a0b2000d18b9",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "id": "10c35dd2-5a59-48a7-9015-551de09a94af",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "position": [
        1504,
        1184
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "<selecionar pasta no Google Drive>"
          }
        },
        "options": {}
      },
      "id": "83eb9e87-04c1-4e7d-91f9-85815c5ce40d",
      "name": "Listar arquivos",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3504,
        1360
      ],
      "typeVersion": 3,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 472,
        "width": 548,
        "color": 7
      },
      "id": "9b7480f8-92e8-47b5-af46-7236f334bc79",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "id": "5c179b14-3f08-4236-85a0-98586ec35229",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        3344,
        1360
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "id": "c4457412-7c2f-4475-b14c-d832ccdf721d",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3728,
        2192
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_fila_mensagens"
        },
        "columns": {
          "value": {
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_mensagem",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "id_mensagem",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "telefone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "mensagem",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "dateTime",
              "display": true,
              "required": true,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "57d310d3-5619-499b-8a93-8a422a637e37",
      "name": "Enfileirar mensagem.",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2032,
        1184
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "id": "c788f25f-2d25-4ee6-8db2-88715d5244c5",
      "name": "Marcar como lidas",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3216,
        1120
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "id": "c6a62895-11c6-4406-891b-3c79257d52f7",
      "name": "Download áudio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1696,
        1296
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "0331a217-25f7-4d00-8d20-bc69a04e7a54",
      "name": "Transcrever audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1856,
        1296
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "FLtYLZBr9sJo1LOI",
          "cachedResultUrl": "/workflow/FLtYLZBr9sJo1LOI",
          "cachedResultName": "[HL Importados] Escalar Humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bant_score",
              "displayName": "bant_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bant_summary_necessity",
              "displayName": "bant_summary_necessity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bant_summary_timing",
              "displayName": "bant_summary_timing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bant_summary_authority",
              "displayName": "bant_summary_authority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trigger_type",
              "displayName": "trigger_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "b7ec5288-b956-4630-8fcd-be7973488dce",
      "name": "Escalar humano",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        4192,
        1360
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "id": "959a81fc-e7fc-4733-9340-0d667a33f52e",
      "name": "Sticky Note28",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7104,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "width": 320,
        "color": 6
      },
      "id": "204a1e3f-2530-4a17-8c28-8db538f0683e",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        944
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 392,
        "width": 1204,
        "color": 5
      },
      "id": "3a6d2ea6-31c0-42fc-812a-c2270ddc21f3",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "type": "string",
              "value": "https://chatwoot.sparkleai.tech"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "type": "string",
              "value": "30"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "type": "string",
              "value": "500"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "type": "string",
              "value": "4"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "type": "string",
              "value": "https://api-sandbox.asaas.com"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "type": "string",
              "value": "={{ $json.body.id }}"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "type": "string",
              "value": "={{ $json.body.account.id }}"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "type": "string",
              "value": "={{ $json.body.conversation.id }}"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "type": "string",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "type": "string",
              "value": "={{ $json.body.sender.phone_number }}"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "type": "string",
              "value": "={{ $json.body.sender.name }}"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "type": "string",
              "value": "={{ $json.body.content || '' }}"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "type": "boolean",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $json.body.created_at }}"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "type": "string",
              "value": "={{ $json.body.message_type }}"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "type": "array",
              "value": "={{ $json.body.conversation.labels }}"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "type": "string",
              "value": "={{ $json.body.sender.email }}"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "type": "object",
              "value": "={{ $json.body.sender.custom_attributes }}"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "type": "string",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}"
            },
            {
              "id": "8a8fa3c3-008e-4a6e-8bd2-03adcf02059a",
              "name": "cliente_telefone",
              "value": "5575970377753",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8862e469-35ae-46f7-84be-d2008935a787",
      "name": "Info",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        1200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming"
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              },
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off"
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              },
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor"
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "testando-agente"
            }
          ]
        },
        "options": {}
      },
      "id": "d111d59b-d098-42ec-8d76-0e648c7ed8b1",
      "name": "Processar mensagem?",
      "type": "n8n-nodes-base.filter",
      "position": [
        1312,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "id": "958bd685-3ade-4223-8f7c-1c4f994f2989",
      "name": "Reset ou teste",
      "type": "n8n-nodes-base.switch",
      "position": [
        1040,
        1184
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ce8044d-b3fb-4fc4-be90-7800cdaf3f3b",
      "name": "Limpar etiquetas",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1792,
        528
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {}
      },
      "id": "dc444143-b0d0-4054-8bc3-96f32fc84f2b",
      "name": "Enviar memória resetada",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        528
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_historico_mensagens"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01ecc7de-1b86-46ae-93cb-e6c9945fd06f",
      "name": "Limpar memória",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1408,
        528
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {}
      },
      "id": "b2b82c34-36cb-433d-86b4-72dadb120965",
      "name": "Resetar atributos",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        528
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_fila_mensagens"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b7a6d13-f123-4ffb-9053-0eda7e4bd82f",
      "name": "Limpar fila de mensagens1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2176,
        528
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "110220e4-7f5f-4378-9e52-2c6170225352",
      "name": "Colocar etiqueta testando-agente",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1408,
        832
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "id": "e0936d4b-4318-4c3f-80f7-2e13f26c437c",
      "name": "Enviar teste habilitado",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        832
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": ""
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending"
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5
            }
          ]
        },
        "options": {}
      },
      "id": "302f531d-1602-4a04-a5f9-c6eb138d5fa2",
      "name": "Agente já terminou de responder?",
      "type": "n8n-nodes-base.if",
      "position": [
        2576,
        1312
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "type": "string",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0de55178-1399-4d6e-bfc1-73f04a1c5a94",
      "name": "Coletar mensagens",
      "type": "n8n-nodes-base.set",
      "position": [
        3408,
        1120
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20f7139a-8ec1-4d05-b864-386f8391c16b",
      "name": "Enviar texto separado",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        4192,
        1488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_historico_mensagens"
        },
        "columns": {
          "value": {
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}",
            "session_id": "={{ $('Info').item.json.telefone }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "type": "object",
              "display": true,
              "required": true,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "391a7187-b39d-4756-a6f7-317a82ac2bfd",
      "name": "Salvar tool calls",
      "type": "n8n-nodes-base.postgres",
      "position": [
        5312,
        1184
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "37589d96-531e-4af6-9f40-94f6f509d437",
      "name": "Usou tools?",
      "type": "n8n-nodes-base.if",
      "position": [
        5056,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "id": "103347a1-0b73-4202-bfcc-fad331975218",
      "name": "Buscar atributos do contato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5696,
        1280
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };"
      },
      "id": "ae53231e-cdc3-43da-8e86-12121fc51e66",
      "name": "Calcular tipo da resposta",
      "type": "n8n-nodes-base.code",
      "position": [
        5888,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "id": "606901b7-2666-4330-b9c9-014641446abb",
      "name": "Tipo da resposta",
      "type": "n8n-nodes-base.switch",
      "position": [
        6080,
        1280
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d2ef92e1-e6e9-4dfd-83c5-f3fda3e4c312",
      "name": "Gravando...",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6672,
        1360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "content_attributes",
              "value": "={\"zapi_args\":{\"delayTyping\":12}}"
            }
          ]
        },
        "options": {}
      },
      "id": "68a21b43-50e1-461a-9b25-9268d53d445d",
      "name": "Enviar áudio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7072,
        1360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "PyqMtlMCBe77Lpds",
          "cachedResultUrl": "/workflow/PyqMtlMCBe77Lpds",
          "cachedResultName": "[HL Importados] Quebrar Mensagens"
        },
        "workflowInputs": {
          "value": {
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "schema": [
            {
              "id": "mensagem",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "mensagem",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url_chatwoot",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "url_chatwoot",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_conta",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_conta",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_conversa",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8127dbc1-193f-4046-9b90-8878f09aa762",
      "name": "Quebrar e enviar mensagens",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        6880,
        1120
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "ZGnLV8lGj8wz8r2T",
          "cachedResultUrl": "/workflow/ZGnLV8lGj8wz8r2T",
          "cachedResultName": "<selecionar ou criar subworkflow 03. Buscar janelas disponíveis Google Calendar>"
        },
        "workflowInputs": {
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "granularidade": 15,
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}"
          },
          "schema": [
            {
              "id": "periodo_inicio",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "periodo_inicio",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "periodo_fim",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "periodo_fim",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_agenda",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_agenda",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "tamanho_janela_minutos",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "tamanho_janela_minutos",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "granularidade",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "granularidade",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "amostras",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "amostras",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "7c98ab72-61de-4c09-8233-407a6a4a989b",
      "name": "Buscar janelas disponiveis",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3792,
        1360
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {}
      },
      "id": "cfff1360-f29f-4d06-b97d-261335bdc22b",
      "name": "Preferencia audio texto",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        4336,
        1488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "12418ca5-6428-448a-9efe-7895ffd96d2a",
      "name": "Reagir mensagem",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        4336,
        1360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "25b8ebd8-4b31-42dc-809e-09a249e315f0",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        6288,
        1488
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "2a56514c-2d4d-4f0e-96f5-3bfd32562a0d",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        6464,
        1248
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "id": "f8783638-2fa9-4a12-99ac-20eda0153e4e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_status_atendimento"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7465853c-48b8-4e59-9e72-fe5ed2a06a3f",
      "name": "Verificar status atendimento",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2352,
        1312
      ],
      "executeOnce": true,
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_status_atendimento"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "updated_at": "={{ $now }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_conversa",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "lock_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "aguardando_followup",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "aguardando_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_followup",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "numero_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "952a951e-6d7f-4fee-bfe4-304cb1c253e9",
      "name": "Bloquear status atendimento",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2944,
        1088
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_status_atendimento"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_conversa",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "lock_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "aguardando_followup",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "aguardando_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_followup",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "numero_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bb7c3644-ef26-4376-8eda-61ee43af356d",
      "name": "Resetar status atendimento",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1984,
        528
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_status_atendimento"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_conversa",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "lock_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "aguardando_followup",
              "type": "boolean",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "aguardando_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_followup",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "numero_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d7ae70a-fca8-4b2b-bc56-630efa7bda59",
      "name": "Limpar status atendimento",
      "type": "n8n-nodes-base.postgres",
      "position": [
        5296,
        1360
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_status_atendimento"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_conversa",
              "type": "boolean",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "lock_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "aguardando_followup",
              "type": "boolean",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "aguardando_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_followup",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "numero_followup",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "608a032f-03ff-48f2-b01d-9025062a3145",
      "name": "Limpar status atendimento1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        7328,
        1232
      ],
      "executeOnce": true,
      "typeVersion": 2.6,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0pU7X0LHaeyzVDVg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "id": "378ca275-41af-4732-8d90-d7af538781e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "id": "f6599b89-196c-4727-874e-28f2abecbcc2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "6906455c-e7d8-4011-b882-3eec6dd1d63e",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3216,
        1360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "id": "782d70ee-ab0d-4a7d-82b4-3548f246ca42",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3184,
        1280
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "id": "b30de106-a207-4bd8-b403-1d3ee018535c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        1280
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "id": "11f3d9fd-6fd0-4557-9baa-d5224146000c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3760,
        1280
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "id": "5683f563-154a-42e8-aaac-11a03b1cbba0",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4160,
        1280
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "id": "2facd228-d1dd-41f0-a0c6-447b9fb46413",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4608,
        1280
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations."
            }
          ]
        },
        "options": {}
      },
      "id": "1e1dfef3-5e1e-42d3-99c6-2f9447aed76c",
      "name": "Output válido?",
      "type": "n8n-nodes-base.if",
      "position": [
        4848,
        1296
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "id": "53686d87-dfb6-4700-a82a-e8c49f8b79eb",
      "name": "Output inválido",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        5488,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "id": "4992e510-2e46-429c-a8ad-104915410fd5",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "id": "ca19c50f-7298-4774-8126-6ffa0948b9e3",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "id": "08b7b1c8-139a-48b1-9262-a71fe5ac8908",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "id": "42fb2468-eb47-4a8b-8f9f-1b130b8dd5ae",
      "name": "Sticky Note37",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5632,
        1040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "id": "0ddfcec0-5648-4eab-9eb0-0db798cb4753",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        1040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "id": "141c36ef-37df-41fb-8934-d2b5452a5f3d",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "id": "0e91888d-95b8-4930-b67f-2555a6590997",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "6G3gv29FEyYt0x0x",
          "cachedResultUrl": "/workflow/6G3gv29FEyYt0x0x",
          "cachedResultName": "<selecionar ou criar subworkflow 02. Baixar e enviar arquivo do Google Drive>"
        },
        "workflowInputs": {
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "schema": [
            {
              "id": "file_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "file_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_conta",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id_conta",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_conversa",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id_conversa",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url_chatwoot",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "url_chatwoot",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "file_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9c2d00e2-fcd7-46fc-b8f8-c681e48730e4",
      "name": "Enviar arquivo",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3632,
        1360
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "id": "76426c3b-c603-4ab9-b335-755476d147b0",
      "name": "Formatar texto",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        6480,
        1120
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "id": "698bd9ef-7ca6-4340-8506-d1ced1409626",
      "name": "Formatar SSML",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        6352,
        1360
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "id": "0f37cac8-05f7-4f8a-bfe7-85abe14beb33",
      "name": "Refletir",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        3216,
        1488
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hl-importados",
        "options": {}
      },
      "id": "1fd828ce-59d4-497e-b76f-d1fe9b509149",
      "name": "Mensagem recebida",
      "type": "n8n-nodes-base.webhook",
      "position": [
        592,
        1200
      ],
      "webhookId": "32b74e81-58db-44ee-8093-c08bf5a29674",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6b90896-a994-4c54-aee1-c6a7ce9cec30",
      "name": "Enviar alerta de cancelamento",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        4480,
        1360
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "Jm6Vdi0gjxV5AJE2",
          "cachedResultUrl": "/workflow/Jm6Vdi0gjxV5AJE2",
          "cachedResultName": "<selecionar ou criar subworkflow 04. Criar evento Google Calendar>"
        },
        "workflowInputs": {
          "value": {
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}"
          },
          "schema": [
            {
              "id": "evento_inicio",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "evento_inicio",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "duracao_minutos",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "duracao_minutos",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "titulo",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "descricao",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_agenda",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_agenda",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "4c7a8039-b0a0-4b8c-8874-c39e58b46a1b",
      "name": "Criar agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3920,
        1360
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {}
      },
      "id": "8d4bd365-cef3-41d5-bd6d-25b32315c185",
      "name": "Cancelar agendamento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3920,
        1504
      ],
      "typeVersion": 1.3,
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        }
      },
      "id": "e1163841-226e-45fa-9242-7fb66e1786b6",
      "name": "Buscar agendamentos do contato",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4048,
        1360
      ],
      "typeVersion": 1.3,
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "Zc4w9sIZSsbJwDW4",
          "cachedResultUrl": "/workflow/Zc4w9sIZSsbJwDW4",
          "cachedResultName": "<selecionar ou criar subworkflow 06. Integração Asaas>"
        },
        "workflowInputs": {
          "value": {
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "cobranca_valor": "={{ $('Info').item.json.cobranca_valor }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}"
          },
          "schema": [
            {
              "id": "cobranca_valor",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "cobranca_valor",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "cobranca_vencimento",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "cobranca_vencimento",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "telefone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "nome",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "cpf",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "cpf",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_conta",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_conta",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_contato",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id_contato",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "asaas_id_cliente",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "asaas_id_cliente",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "asaas_id_cobranca",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "asaas_id_cobranca",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url_chatwoot",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "url_chatwoot",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url_asaas",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "url_asaas",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "71892140-ddd2-44ae-94ce-dcf02e435156",
      "name": "Criar ou buscar cobranca",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        4640,
        1360
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n  <papel>\n    Você é a Zenya, assistente virtual da HL Importados. Atende clientes via WhatsApp com agilidade, simpatia e conhecimento dos produtos. Sua missão é ajudar quem chegou a encontrar o que precisa, informar\n  disponibilidade e facilitar a compra.\n\n    Você atende desde quem quer saber o preço de um iPhone seminovo até quem quer um perfume importado ou tem um pedido especial.\n  </papel>\n\n  # PERSONALIDADE E TOM DE VOZ\n\n  <personalidade>\n    * Descontraída e prestativa — fala como alguém que entende de produto, não como robô\n    * Direta — vai logo no ponto, sem enrolação\n    * Confiante — conhece o estoque e sabe indicar bem\n    * Acolhedora — a loja é conhecida pelo atendimento VIP, isso reflete na conversa\n    * Sem exagero de emojis — usa com moderação, só quando faz sentido\n  </personalidade>\n\n  # INFORMAÇÕES DA LOJA\n\n  <informacoes-loja>\n    * Nome: HL Importados\n    * Endereço: Av. Pedro Monteiro, 117 — Cansanção/BA (loja física inaugurada em fevereiro de 2026)\n    * Horário de atendimento: Segunda a sexta, 08h às 17h\n    * Instagram: @hlimporttados\n    * Contato direto: (75) 99824-4346\n    * Pagamento: até 18x no cartão\n    * Entrega: para toda a região (gratuita) e todo o Brasil via Correios (consultar taxa)\n    * Diferenciais: atendimento VIP, ambiente com sofá e cafezinho, curadoria de produtos premium\n  </informacoes-loja>\n\n  # PRODUTOS\n\n  <produtos>\n    Especialidades da loja:\n    - iPhones (novos e seminovos) — produto principal, com 3 meses de garantia nos seminovos\n    - MacBooks e notebooks Apple\n    - Smartphones de outras marcas\n    - Perfumes importados\n    - Acessórios e eletrônicos importados em geral\n    - Pedidos especiais (produtos sob encomenda — consultar prazo e disponibilidade)\n\n    Quando o cliente perguntar sobre produto específico, modelo ou preço:\n    - Use a ferramenta de consulta de estoque para verificar disponibilidade e valor atual\n    - Se disponível: informe preço, condições de parcelamento e como adquirir\n    - Se indisponível: ofereça pedido especial ou alternativa similar\n  </produtos>\n\n  # COMO VOCÊ ATENDE\n\n  <fluxo>\n    ## PASSO 1 — RECEPÇÃO\n    Cumprimente de forma natural. Se for a primeira mensagem, pergunte o nome.\n    Exemplo: \"Oi! Seja bem-vindo à HL Importados 😊 Tô aqui pra te ajudar — o que tá procurando?\"\n\n    ## PASSO 2 — ENTENDER O QUE PROCURA\n    Entenda o produto antes de responder. Se for iPhone ou MacBook, pergunte o modelo/versão/capacidade se necessário.\n\n    ## PASSO 3 — CONSULTAR E INFORMAR\n    Use a ferramenta de estoque para verificar disponibilidade e preço. Informe de forma clara.\n    - Se disponível: preço, parcelamento (até 18x), garantia se for seminovo\n    - Se indisponível: ofereça pedido especial com prazo estimado\n    - Para entrega fora da região: informe que é via Correios e pedirá para calcular o frete\n\n    ## PASSO 4 — PEDIDO ESPECIAL / ENCOMENDA\n    Para produtos fora do estoque ou modelos específicos:\n    - Colete o produto exato (modelo, cor, capacidade)\n    - Informe que vai verificar prazo e valor com a equipe\n    - Chame a ferramenta escalarHumano para passar para a equipe confirmar\n\n    ## PASSO 5 — FECHAMENTO\n    Confirme próximos passos: retirada na loja, entrega, pagamento. Mantenha o cliente informado.\n\n    ## MENSAGEM OBRIGATÓRIA ANTES DE CHAMAR escalarHumano\n    SEMPRE envie esta mensagem ao cliente ANTES de chamar a ferramenta escalarHumano — nunca pule essa etapa:\n\n    \"🔄 Passando para a equipe agora!\n\n    📋 Resumo:\n    • Cliente: [nome do cliente se capturado, senão omitir]\n    • Interesse: [produto + modelo/especificação exata]\n    • Situação: [disponível / indisponível / pedido especial]\n    • Preço informado: [valor mencionado, ou omitir se não consultado]\n    • Motivo do repasse: [o que o cliente precisa e a Zenya não resolve — seja específico]\n\n    A equipe já assume daqui pra frente 😊\"\n\n    REGRAS DA MENSAGEM DE REPASSE:\n    - Omita campos que não se aplicam — não deixe campo vazio\n    - \"Motivo do repasse\" é obrigatório — nunca omita\n    - Após enviar essa mensagem, chame imediatamente a ferramenta escalarHumano\n    - Nunca envie palavras técnicas como \"escalarHumano\" ou nomes de ferramentas ao cliente\n  </fluxo>\n\n  # REGRAS INVIOLÁVEIS\n\n  <regras>\n    1. NUNCA invente preço ou disponibilidade — sempre consulte o estoque antes de informar\n    2. NUNCA prometa prazo de encomenda sem confirmação da equipe\n    3. Se o cliente pedir para falar com alguém da loja → chame escalarHumano imediatamente, sem perguntar motivo\n    4. Atenda somente dentro do horário da loja (08h–17h, seg–sex). Fora do horário: \"Recebemos sua mensagem! Respondemos assim que abrirmos amanhã às 8h 😊\"\n    5. Para pedidos especiais ou produtos não encontrados no estoque → chame escalarHumano\n    6. Máximo 3 parágrafos por mensagem — seja objetivo\n    7. Não discuta política de preços ou desconto — encaminhe para a equipe via escalarHumano\n    8. Se perguntarem se é humano ou IA: seja honesta — \"Sou a Zenya, assistente virtual da HL! A equipe tá aqui também se quiser falar com alguém 😉\"\n    9. Para entrega, sempre mencione que a região tem frete gratuito e fora é via Correios\n  </regras>",
          "returnIntermediateSteps": true
        }
      },
      "id": "7cd391f9-59a3-4c93-b57c-7f3a2210cd89",
      "name": "Secretária v3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3776,
        1120
      ],
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "id": "e294541f-ae35-4e49-b8aa-53f97033b69b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "mode": "list",
          "value": "33B4UnXyTNbgLmdEDh5P"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "eleven_flash_v2_5"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "id": "c421cc56-de82-41f8-b653-b3cac47da6a3",
      "name": "Gerar áudio",
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "position": [
        6880,
        1360
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {
        "elevenLabsApi": {
          "id": "clMmhQNOC5xexIgh",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "id": "c52ef266-82d6-4413-aedf-675a09c105f3",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6656,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 496,
        "width": 512,
        "color": 6
      },
      "id": "37647bea-fc6e-4657-ad92-962d90a7f493",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3712,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 284,
        "width": 440,
        "color": 6
      },
      "id": "9b05125b-87ec-4518-ac48-130d24660aea",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "id": "81fa9afa-9c3d-491b-a228-0465b83ce7bd",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 5
      },
      "id": "1144d2ca-0e84-4767-909c-60adabadbd16",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 4
      },
      "id": "2cee2857-e48b-47c7-9465-479598c52643",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "id": "d3574ad6-87ac-456e-ae0d-b233a5599786",
      "name": "Sticky Note29",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n",
        "height": 96,
        "width": 180,
        "color": 4
      },
      "id": "0c740d6a-1840-453c-874f-25efbd7a18d2",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "width": 320,
        "color": 3
      },
      "id": "3295fbaa-b50c-4400-8652-800e96438b2c",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "XG7M5RiaUjByV8Gb",
          "cachedResultUrl": "/workflow/XG7M5RiaUjByV8Gb",
          "cachedResultName": "<selecionar ou criar subworkflow 04.1 [EXTRA] Atualizar agendamento>"
        },
        "workflowInputs": {
          "value": {
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "id_agenda",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id_agenda",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id_evento",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id_evento",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "titulo",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "descricao",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f862a4fb-0862-4535-a946-ab17e4c94642",
      "name": "Atualizar agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3792,
        1504
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "id": "6002e901-888b-460e-8f90-018ae39d5b86",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "@[youtube](FnEr3ksORS4)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "id": "a9a00428-7afe-4875-ba17-dd4f341be199",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "@[youtube](KvplCGkKpic)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "id": "95c39130-3f83-4bd8-bb46-b446d3d43cf3",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "@[youtube](wG9nXprBYUk)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "id": "b48ca160-3515-4eb3-8d20-400a37179fc7",
      "name": "Sticky Note38",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7520,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "6e1582ad-c715-4f9d-9871-068bc6f35c68",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1600,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "id": "0817bdeb-8839-45f5-a05f-e576f6523bbf",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1744,
        1520
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "id": "a49944ce-e82d-4e65-9db0-5e03a1d30d58",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Consulta o estoque da loja HL Importados. Use quando o cliente perguntar sobre disponibilidade, preço, modelos ou cores de produtos. CRITICO: NUNCA inclua cor, condição ou qualidade no termo de busca (ex: AZUL, SEMINOVO, LACRADO, NATURAL) — busque sempre pelo modelo base (ex: \"IPHONE 15 PRO\", \"PERFUME ASAD\") e depois informe as variações disponíveis nos resultados. IMPORTANTE: o termo de busca deve ter no mínimo 3 caracteres. Ao retornar resultados: (1) informe a cor quando ela aparecer no nome do produto (ex: AZUL, VERMELHO, PRETO, DOURADO, ROXO, LILAS, NATURAL, DESERT, LARANJA, BRANCO, VERDE); (2) quando o produto não tiver cor no nome, informe ao cliente que essa informação não está disponível no sistema e sugira entrar em contato com a loja para confirmar; (3) mostre apenas produtos com estoque > 0, a menos que o cliente pergunte especificamente por um modelo sem estoque.",
        "url": "={{ 'https://apihl.ultracash.com.br/produtos?filial=1&descricao=' + encodeURIComponent($fromAI('descricao', 'Termo de busca do produto. Exemplos: IPHONE 15, PERFUME, SAMSUNG, MACBOOK. Sempre em maiúsculas.', 'string').toUpperCase()) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "7AF0057EF978FF6284EA146885EA2367ACD7296F97E22068A9"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e9744466-cc6f-48c4-a5a6-72c891132ce7",
      "name": "Consultar estoque",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        4480,
        1520
      ],
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "connections": {
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar estoque": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "15de007f-c796-45d5-a561-6b06b410b6dc",
  "meta": {
    "instanceId": "3ceffb89b9a03e6a3fc4af3d547520451390e8ab5bbe4ccab9bb07641347a10e"
  },
  "id": "vy53s3CurtxOsox1",
  "tags": []
}