docs/zenya/hl-import/04-quebrar-mensagens.json
{
  "name": "[HL Importados] Quebrar Mensagens",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Para cada mensagem').item.json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        1344
      ],
      "id": "b4e49017-661b-4622-bfd5-acfdab5b7c23",
      "name": "Enviar texto",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n \"mensagens\": [\"mensagem_1\", \"mensagem_2\", \"mensagem_3\", \"mensagem_4\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        1552
      ],
      "id": "c61530e6-1640-4ecf-a3ca-8a8b1b2a4976",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": "={{ Math.min(60*$('Velocidade digitação').item.json.tamanho_mensagem_palavras/$('Velocidade digitação').item.json.palavras_por_minuto, 25) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2976,
        1344
      ],
      "id": "d1769edb-8687-4c3a-9f90-77d5126fd222",
      "name": "Espera",
      "webhookId": "b7af4599-cd9a-4d0b-89ce-7ca9296dac22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "=on"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        1344
      ],
      "id": "d2bf96bc-caaa-4da9-a032-e7cbc69c36ea",
      "name": "Digitando...",
      "credentials": {
        "chatwootApi": {
          "id": "CjCfWmOaKY3OTN0w",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Enviar mensagem\n",
        "height": 324,
        "width": 388
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        1216
      ],
      "typeVersion": 1,
      "id": "9efb7c53-a550-46d2-be41-4c8a35fb5656",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        1344
      ],
      "id": "53b3277c-37a4-4a57-b1a9-aa9c30ed1bcd",
      "name": "Espera enviar mensagem",
      "webhookId": "05618f2f-3370-4ce7-875c-b5dc20269446"
    },
    {
      "parameters": {
        "content": "## Simular a digitação de cada mensagem\n\nO cálculo realizado leva em consideração um tamanho médio de palavras na língua portuguesa de ~4.5 caracteres.",
        "height": 324,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        1216
      ],
      "typeVersion": 1,
      "id": "39088a6e-9517-4d6a-9142-8cd458bd6aba",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Quebrar mensagens",
        "height": 500,
        "width": 1004,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        1216
      ],
      "typeVersion": 1,
      "id": "f31128e0-d75f-46d7-bd83-2334d56754e6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensagem"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1584,
        1328
      ],
      "id": "e41e1244-d313-4a29-ad8a-af7419baf7ab",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2304,
        1328
      ],
      "id": "c2fd83cd-de5a-446a-9f55-7edcd5d67416",
      "name": "Para cada mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2abf4045-85d8-4999-90e3-72126449ea83",
              "name": "palavras_por_minuto",
              "value": "=150",
              "type": "string"
            },
            {
              "id": "8fd6b9d8-9918-451e-9a19-a33619ff73f7",
              "name": "tamanho_mensagem_palavras",
              "value": "={{ $('Para cada mensagem').item.json.mensagem.length/4.5 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        1344
      ],
      "id": "11156c98-6174-463e-b4b9-33f775bd6347",
      "name": "Velocidade digitação"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        1552
      ],
      "id": "0d7bddcb-7d91-4a19-8705-3bccad7b567e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7T7T9EtsTHKfJBkI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 07. Quebrar e enviar mensagens",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        1120
      ],
      "id": "80e42a88-f170-45cc-9566-a49488ad37d3",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {
          "destinationFieldName": "mensagem"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2096,
        1328
      ],
      "id": "9705f270-2845-48a0-8d35-cca0262218bf",
      "name": "Split"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1840,
        1552
      ],
      "id": "29ee6e46-b7b9-40ff-af48-8e27a8efb9db",
      "name": "Refletir"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## PAPEL\n\nVocê é um agente que simula o comportamento humano ao enviar mensagens em um aplicativo de mensagens como o WhatsApp ou Telegram. Seu objetivo é pegar uma mensagem longa recebida como entrada e dividi-la em múltiplas mensagens menores — sem alterar nenhuma palavra do conteúdo original — apenas separando em partes naturais, como um humano faria ao digitar e enviar aos poucos.\n\n## OBJETIVO\n\nTransformar uma única mensagem em um **json** com o campo \"mensagens\" que é um **array de strings**, simulando o envio humano em blocos de texto menores. Por exemplo:\n\n**Entrada:**\n\n> Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem. Eu cheguei lá por volta das 18h, como combinado, mas não encontrei ninguém. Será que houve algum problema?\n\n**Saída:**\n\n{\n  \"mensagens\": [\n    \"Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem\",\n    \"Eu cheguei lá por volta das 18h, como combinado\"\n    \"Mas não encontrei ninguém\",\n    \"Será que houve algum problema?\"\n  ]\n}\n\n## FERRAMENTA\n\n- **Refletir**\nUse essa ferramenta sempre para melhorar seu raciocínio e resposta em situações complexas.\n\n## EXEMPLOS\n\n### Exemplo 1: Mensagem simples\n\n**Entrada:**\n\nOi! Tudo bem por aí? Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas. Você pode me ligar assim que puder?\n\n**Saída esperada:**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Tudo bem por aí?\",\n    \"Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas.\",\n    \"Você pode me ligar assim que puder?\"\n  ]\n}\n```\n\n### Exemplo 2: Mensagem com lista (NÃO QUEBRAR)\n\n**Entrada:**\n\nOi! Seguem os documentos que você pediu:\n1. Contrato assinado\n2. Comprovante de pagamento\n3. Nota fiscal\n4. Certificado de conclusão\nMe avisa quando receber tudo!\n\n**Saída esperada:**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Seguem os documentos que você pediu:\",\n    \"1. Contrato assinado\\n2. Comprovante de pagamento\\n3. Nota fiscal\\n4. Certificado de conclusão\",\n    \"Me avisa quando receber tudo!\"\n  ]\n}\n```\n\n**❌ INCORRETO (não fazer):**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Seguem os documentos que você pediu:\",\n    \"1. Contrato assinado\\n2. Comprovante de pagamento\",\n    \"3. Nota fiscal\\n4. Certificado de conclusão\",\n    \"Me avisa quando receber tudo!\"\n  ]\n}\n```\n\n## REGRAS\n\n- Não reescreva o conteúdo. Apenas separe em mensagens menores respeitando a pontuação e pausas naturais.\n- As divisões devem parecer naturais — pense como uma pessoa que está digitando e envia aos poucos.\n- Evite cortar frases no meio sem necessidade.\n- Sempre retorne como um array de strings com a mesma ordem do texto original. \n- Remova vírgulas e pontos nos finais das mensagens, quando necessário.\n- Tente manter cada mensagem entre 1 a 4 frases no máximo, se o texto permitir.\n- **NUNCA QUEBRE A MENSAGEM EM MAIS DE 5 PARTES**\n- Mantenha itens de lista na mesma mensagem. **NUNCA QUEBRE LISTAS EM MÚLTIPLAS MENSAGENS**\n\n## FORMATO DE RESPOSTA\n\nVocê deve responder apenas com um json com o campo \"mensagens\" que é um array de strings, sem introduções, explicações ou textos adicionais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1776,
        1328
      ],
      "id": "c4f42e2e-747f-4c89-80dd-bcc0cf00b74f",
      "name": "Agente divisor de mensagens",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Espera enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Espera": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando...": {
      "main": [
        [
          {
            "node": "Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera enviar mensagem": {
      "main": [
        [
          {
            "node": "Para cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Para cada mensagem": {
      "main": [
        [],
        [
          {
            "node": "Velocidade digitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Velocidade digitação": {
      "main": [
        [
          {
            "node": "Digitando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Para cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente divisor de mensagens": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "97b5692e-3e68-40cc-819c-c07caabedff3",
  "meta": {
    "instanceId": "3ceffb89b9a03e6a3fc4af3d547520451390e8ab5bbe4ccab9bb07641347a10e"
  },
  "id": "PyqMtlMCBe77Lpds",
  "tags": []
}